.conversor {
    width: 90%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

#converter {
    margin-top: 30px;
}

#inverter {
    margin-top: 30px;
}

.resultado {
    font-weight: bold;
    margin-top: 12px;
}

.gridConversor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". titleGrid logout";
    grid-gap: 10px;
}

.titleGrid {
    grid-area: titleGrid;
    height: 35px;
}

.logout {
    grid-area: logout;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 35px;
}


/* -------------------------- DATA TABLES -------------------------- */


/* Estilo Barra de Exibir */

#tabelaConversor_length {
    margin-top: 20px;
    margin-bottom: 3px;
    text-align: left;
    display: flex!important;
}

#tabelaConversor_length label {
    display: grid;
    grid-template-columns: 40px 100px 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}


/* Estilo Barra de Pesquisa */

#tabelaConversor_filter {
    margin-top: 20px;
    margin-bottom: 3px;
    display: flex!important;
    flex-direction: row-reverse!important;
}

#tabelaConversor_filter label {
    display: grid;
    grid-template-columns: 68px 150px;
    gap: 10px;
    margin-bottom: 8px;
}


/* Estilo Ordem de pagina */

#tabelaConversor_info {
    text-align: left;
}


/* Estilo Paginação */

#tabelaConversor_paginate {
    display: flex;
    flex-direction: row-reverse;
}